# EduManage — Environment Template

NEXT_PUBLIC_APP_NAME="EduManage"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# SQLite (Local database)
DATABASE_URL="file:dev.db"

# Turso DB (Remote Production Database)
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

# NextAuth
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend (optional for dev)
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
